body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Fonte um pouco mais específica */
  margin: 0;
  padding: 20px;
  line-height: 1.6; /* Melhora a legibilidade do texto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para o tema */
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-wrap: break-word; /* Evita quebras de layout com textos longos */
  transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
}

.app.light {
  background-color: #ffffff;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url("./assets/Segunda_Imagem_de_fundo.jpg"); /* Adicione esta linha */
  background-size: cover; /* Para cobrir todo o fundo do .app */
  background-repeat: no-repeat; /* Para evitar que a imagem se repita */
}

.app.dark {
  background-color: #0d1321;
  color: #f0ebd8;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  background-image: url("./assets/Imagem_de_fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: inherit; /* Herda a cor do tema para consistência inicial */
}

label {
  display: block;
  margin-bottom: 5px;
  color: inherit; /* Herda a cor do tema */
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #3e5c76;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: transparent; /* Fundo transparente para herdar o tema */
  color: inherit; /* Herda a cor do tema */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave no foco */
}

input::placeholder,
textarea::placeholder {
  color: #a0a0a0; /* Cor mais suave para o placeholder */
}

input:focus,
textarea:focus,
select:focus {
  outline: none; /* Remove a outline padrão */
  border-color: #748cab; /* Destaque sutil na borda ao focar */
  box-shadow: 0 0 5px rgba(116, 140, 171, 0.5); /* Leve sombra ao focar */
}

textarea {
  min-height: 100px;
}

select {
  cursor: pointer;
}

button {
  background-color: #748cab;
  color: #f0ebd8;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease; /* Transição mais completa */
  margin-bottom: 10px;
}

button:hover {
  background-color: #3e5c76;
  color: #ffffff;
}

/* Estilos específicos para botões nos temas */
.app.light button {
  background-color: #f0ebd8;
  color: #0d1321;
  border: 1px solid #3e5c76;
}

.app.light button:hover {
  background-color: #748cab;
  color: #ffffff;
}

.app.dark button {
  background-color: #3e5c76;
  color: #f0ebd8;
  border: 1px solid #748cab;
}

.app.dark button:hover {
  background-color: #748cab;
  color: #ffffff;
}
